#### NANORC -- zac

# Guidelines
## set guidestripe 100

# Tabs and Indent
set tabsize 4
## set tabstospaces
set autoindent

# Hard and Soft wraps
## set breaklonglines
set softwrap

# Line numbers, and colors
set linenumbers
set numbercolor red,black
set promptcolor magenta,white

# Scroll wheel kinda
## set indicator 

# Mouse click support
set mouse

# Spell check app
set speller "spell"

